body{
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(./images/restaurant.png); /* line 4 - 9 are of my own choosing and not the tutorial*/
    background-size: cover; /*This property/value pair tells the browser to scale the background image proportionally so that its width and height are equal to, or greater than, the width/height of the element. - Per https://www.webfx.com/blog/web-design/responsive-background-image/ */
    background-position-x: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-position-y: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-attachment: fixed; /*to prevent the photo from scrolling on the page or img ending before page does*/
    background-repeat: no-repeat; /*to prevent the photo from repeating on the screen*/
}
.container{
    border: 1px solid black;

    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex; /*this will make the container a flex box */
    justify-content: center; /*this will make the bill amount and contents all center w/in this first container box */
    align-items: center;
}
#icon{ /* took this from my other project login-form */
    width: 30px;
    cursor: pointer;
    position: relative;
}
.social-icons{ /* took this from my other project login-form */
    margin: 30px auto;
    text-align: center;
}
.social-icons img{ /* took this from my other project login-form */
    width: 30px auto;
    margin: 0 12px;
    text-align: center;
    box-shadow: 0 0 20px 9 var(#212121);
    cursor: pointer;
    border-radius: 50%;
}
.calculator{ /* this is the calculator box */
    border: 1px solid rgb(17, 13, 44);
    background-color: rgb(206, 194, 209); /* might consider making this box transparent...debating*/
    border-radius: 5px;
    width: 400px; /* tutorial used 400px */
    margin: auto; /* this will place it in the middle */
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 100; /* this is the lowest setting */
    box-shadow: 0 2px 4px 0 black (0, 0, 0, 0.5);
}
.calculator input{ /* where user input their amount and number of guest*/
    box-sizing: border-box;
    width: 70%; /* tutorial used 90% but that would cover img*/
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.calculator button {
    width: 20%; /* tutorial used 10% but that would cover img */
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: whitesmoke;
}
.calculator button:hover{ /* hover effect*/
    background-color: rgba(0, 0, 0, 0.1); /* this will change the button's color when you hover over it*/
}
#quality{ /* this is the input box */
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}
#tip-amount { /* the container that holds the message that pops up when user select calculate -- display how much you hold. We will want to hide it untill it is need to display the amount. */
   visibility: hidden; /* as mentioned, amoutn will be hidden ---- be sure to comment out while working on it then uncomment when completed or else you will be unable to see what you are doing (from code line 82-90)!!!! */ 
   min-width: 250px;
   margin: auto;
   background-color: limegreen;
   color: white; /* color of the text  */
   bottom: 30px;
   text-align: center;
   border-radius: 2px;
   padding: 16px;
   position: fixed; /* when visibility is commented out, you should see the limegreen bar at the bottom of the page that is outside of the tip calculator container. At this point, ok to uncomment and hide the lime green bar. */
}
#tip-amount.show{ /* this a class part that will need js. We only want it to display when the user is ready to calculate the tip amount. Will need to create 2 animations as well. */
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; /* we are setting the animation to fade in for 5sec and when fade out, it will be for 5sec*/
    animation: fadein 0.5s, fadeout 0.5s 2.5s; /* this is a fall back setting to account for other browsers*/
}
@-webkit-keyframes fadein{   /* creating the animations - fadein */
    from{bottom:0; opacity: 0;} /* it will start off at zero opacity = not going to display  */
    to {bottom: 30px; opacity: 1;} /* it will then go all the way to 30 pixels from the bottomw and it is going to display. */
}
@keyframes fadeint{   /* creating the animations - fadein */
    from{bottom:0; opacity: 0;} /* it will start off at zero opacity = not going to display  */
    to {bottom: 30px; opacity: 1;} /* it will then go all the way to 30 pixels from the bottomw and it is going to display. */
}
@-webkit-keyframes fadein{   /* creating the animations - fadein */
    from{bottom:0; opacity: 0;} /* it will start off at zero opacity = not going to display  */
    to {bottom: 30px; opacity: 1;} /* it will then go all the way to 30 pixels from the bottomw and it is going to display. */
}
@keyframes fadeint{   /* creating the animations - fadein */
    from{bottom:0; opacity: 0;} /* it will start off at zero opacity = not going to display  */
    to {bottom: 30px; opacity: 1;} /* it will then go all the way to 30 pixels from the bottomw and it is going to display. */
}